$mainColorGreen: #2CB4AD;
$subColorWhite: #ffffff;
$subColorBlack: #404040;
$subColorYellow: #FFD855;
$subColorGray: #C7C7C7;
$borderColor: #E5E5E5;
$teamBorderColor: #45C7C1;
$topicBorderColor: #707070;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
    font-size: 16px;
    overflow: visible;
}

body {
    color: #333333;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
}