@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  font-size: 16px; }

body {
  color: #333333;
  font-size: 16px; }

.groupeManagement {
  width: 100vw;
  height: calc(100vh - 45px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.048) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, 0.048) 1px, transparent 0);
  background-size: 20px 20px;
  margin-top: 45px;
  padding: 15px;
  overflow: scroll; }

.postItBoss {
  width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto; }

.postIts {
  display: flex;
  width: 100px;
  height: 100px; }

.postIt {
  width: 100px;
  height: 100px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13); }

.group {
  max-width: 740px;
  position: relative;
  background-color: transparent;
  border: 2px solid #2CB4AD;
  border-radius: 20px;
  text-align: center;
  color: #2CB4AD;
  margin: 10px; }

.group span {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5px; }

.otherGroupe {
  max-width: 740px;
  position: relative;
  background-color: transparent;
  text-align: center;
  color: #2CB4AD;
  margin: 10px; }
