@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.groupeManagement {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.048) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, 0.048) 1px, transparent 0);
  background-size: 20px 20px; }

.postItBoss {
  display: flex;
  justify-content: space-around; }

.postIts {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 10px; }

.postIt {
  width: 100px;
  height: 100px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13); }

.group {
  position: relative;
  background-color: transparent;
  border: 2px solid #2CB4AD;
  border-radius: 20px;
  text-align: center;
  color: #2CB4AD; }

.group span {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5px; }
