@import './common.scss';

.groupeManagement{
    width: 100%;
    height: calc(100vh - 45px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.048) 1px, transparent 0),
                      linear-gradient(90deg,rgba(0, 0, 0, 0.048) 1px, transparent 0);
    background-size: 20px 20px;
    margin-top: 45px;
    padding: 15px;
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
.postItBoss{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

  .postIts{
    display: flex;
    width: 100px;
    height: 100px;
  }

  .postIt{
      width: 100px;
      height: 100px;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13);
  }

  .group{
      // max-width: 500px;
      position: relative;
      background-color: transparent;
      border: 2px solid $mainColorGreen;
      border-radius: 20px;
      text-align: center;
      color: $mainColorGreen;
      margin: 10px;
      overflow: visible;
      padding-left: 20px;

      h3 {
        display: block;
        margin-top: -13px;
        margin-bottom: 10px;
        color: $mainColorGreen;
        .groupTitle {
          background-color: $subColorWhite;
          padding: 0 5px;
        }
      }
  }

  .otherGroupe {
    max-width: 740px;
    position: relative;
    background-color: transparent;
    text-align: center;
    color: $mainColorGreen;
    margin: 10px;
  }