@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  font-size: 16px; }

body {
  color: #333333;
  font-size: 16px; }

.main {
  display: flex; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  font-size: 16px; }

body {
  color: #333333;
  font-size: 16px; }

.roomHeader {
  width: calc(100vw - 295px);
  height: 45px;
  border-bottom: 1px solid #E5E5E5;
  color: #C7C7C7;
  font-weight: 700;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .roomHeader .roomTitleContainer {
    width: 300px;
    border-right: 1px solid #E5E5E5;
    padding: 0 15px; }
  .roomHeader .roomHeaderMenu {
    padding: 0 10px; }
    .roomHeader .roomHeaderMenu .shareButton {
      color: #ffffff;
      background-color: #2CB4AD;
      border: none;
      border-radius: 50px;
      font-size: 0.9rem;
      display: block;
      padding: 5px 20px; }

.room_main {
  width: calc(100vw - 65px);
  display: flex; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-style: normal;
  font-weight: 600;
  overflow-y: hidden; }

.Top {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/topphoto.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -2; }

.Top::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #32B6AF, #FFFFFF);
  opacity: 0.9;
  z-index: -1; }

header {
  display: flex;
  width: 100vw;
  margin-top: 2vh;
  margin-left: 2vw;
  z-index: 1000;
  justify-content: space-between;
  flex-wrap: nowrap; }

header li {
  display: block;
  display: inline-block;
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 1.75rem;
  padding: 0.2rem 2rem;
  border-radius: 1.1rem; }

header .login {
  margin-right: 2vw;
  border: 1.5px solid white; }

header .submit {
  margin-right: 7vw;
  background-color: #FFD855; }

main {
  position: relative;
  width: 33.33333vw;
  margin: 0 auto;
  height: 50vh;
  transform: translateY(50%); }
  main img {
    width: 33.33333vw; }

h2, h3 {
  text-align: center;
  white-space: nowrap;
  color: white; }

h2 {
  margin-top: 1rem;
  font-size: 2rem; }

h3 {
  margin-top: 1.25rem;
  font-size: 1.25rem; }

.startPoitto {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 2rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1.1rem;
  background-color: #FFD855; }

footer li {
  width: 9rem;
  text-align: center;
  background-color: #2CB4AD;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 2vw;
  color: #FFFFFF;
  font-size: 0.7rem;
  padding: 0.7rem; }

footer .contact {
  background-color: #F03E3E;
  margin-left: 10vw; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  font-size: 16px; }

body {
  color: #333333;
  font-size: 16px; }

.teamListContainer {
  width: 70px;
  height: 100vh;
  background-color: #2CB4AD; }
  .teamListContainer .teamList {
    width: 60px;
    margin: 0 auto;
    padding: 8px 0;
    text-align: center; }
    .teamListContainer .teamList .teamIconList {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      position: relative; }
      .teamListContainer .teamList .teamIconList .teamIconImage {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
      .teamListContainer .teamList .teamIconList::after {
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
        top: 0; }
  .teamListContainer .teamListHeader {
    width: 60px;
    padding: 15px 0 8px;
    text-align: center;
    border-bottom: 1px solid #45C7C1;
    margin: 0 auto; }
    .teamListContainer .teamListHeader .teamAddButton {
      width: 50px;
      height: 50px;
      background-color: #FFD855;
      border: none;
      border-radius: 50%;
      color: #ffffff;
      font-size: 45px;
      line-height: 50px;
      margin: 0 auto 8px;
      display: block;
      padding-top: 2px; }
    .teamListContainer .teamListHeader span {
      color: #FFD855;
      font-size: 8px;
      font-weight: 700; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  font-size: 16px; }

body {
  color: #333333;
  font-size: 16px; }

.room_left_container {
  width: 230px; }
  .room_left_container .topicList {
    width: 230px;
    height: 100vh;
    background-color: #404040;
    padding: 0 15px; }
    .room_left_container .topicList .teamListTop {
      padding: 30px 0 20px;
      border-bottom: 1px solid #707070;
      margin-bottom: 15px; }
      .room_left_container .topicList .teamListTop .topicTeamIcon {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: block;
        margin: 0 auto; }
    .room_left_container .topicList .topicListContainer {
      line-height: 200%;
      color: #ffffff; }
      .room_left_container .topicList .topicListContainer ul {
        border-left: 1px solid #707070;
        padding: 0 15px;
        margin-left: 5px;
        margin-bottom: 10px; }
        .room_left_container .topicList .topicListContainer ul li {
          color: #707070; }

.room_right_container {
  width: calc(100% - 230px); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  font-size: 16px; }

body {
  color: #333333;
  font-size: 16px; }

.groupeManagement {
  width: 100vw;
  height: calc(100vh - 45px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.048) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, 0.048) 1px, transparent 0);
  background-size: 20px 20px;
  margin-top: 45px;
  padding: 15px;
  overflow: scroll; }

.postItBoss {
  width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto; }

.postIts {
  display: flex;
  width: 100px;
  height: 100px; }

.postIt {
  width: 100px;
  height: 100px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13); }

.group {
  max-width: 740px;
  position: relative;
  background-color: transparent;
  border: 2px solid #2CB4AD;
  border-radius: 20px;
  text-align: center;
  color: #2CB4AD;
  margin: 10px; }

.group span {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5px; }

.otherGroupe {
  max-width: 740px;
  position: relative;
  background-color: transparent;
  text-align: center;
  color: #2CB4AD;
  margin: 10px; }

.Send {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.048) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, 0.048) 1px, transparent 0);
  background-size: 20px 20px; }

.currentGroupeList {
  width: 100vw;
  background-color: #ffffff;
  height: 80px;
  overflow: hidden; }
  .currentGroupeList .postIts {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 20px 5px 0px 5px;
    width: 50px;
    height: 50px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13); }
    .currentGroupeList .postIts .postIt {
      width: 50px;
      height: 50px; }

.memo {
  margin: 0 10px;
  margin-bottom: 20px;
  width: 30px; }

.view {
  top: 55px;
  position: absolute;
  color: #CCCCCC;
  font-size: 10px;
  margin-left: 10px; }

.pictIt {
  width: 100vw;
  z-index: 100; }

.pictIt canvas {
  width: 90vw;
  height: 90vw;
  margin: 5vw;
  margin-top: 15vh;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13);
  z-index: 1000; }

.changeColor {
  display: inline-block;
  position: absolute;
  bottom: 16vh;
  left: 7vw; }
  .changeColor button:nth-child(2) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #FFA5D2;
    margin-left: 10px; }
  .changeColor button:nth-child(3) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #FFD9A5; }
  .changeColor button:nth-child(4) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #FFF5A5; }
  .changeColor button:nth-child(5) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #C1FFA5; }
  .changeColor button:nth-child(6) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #A5FFF5; }
  .changeColor button:nth-child(7) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #A5D5FF; }
  .changeColor button:nth-child(8) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #CFA5FF; }
  .changeColor button:nth-child(9) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px; }

.delete {
  position: absolute;
  bottom: 8vh;
  left: 50vw;
  transform: translateX(-50%);
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  width: 50px;
  height: 50px;
  margin: 0 3px; }

#OpenMenu {
  position: absolute;
  top: 90px;
  left: 0;
  width: 8vw;
  height: 9vh;
  background-color: #2CB4AD; }

.yajirushi {
  left: 5px;
  position: absolute;
  top: 3.5vw;
  left: 1vw;
  width: 6vw;
  height: 5vh; }

#add {
  position: absolute;
  top: 21vh;
  right: 3vw;
  font-size: 2rem;
  width: 20vw;
  height: 8vh;
  color: #707070; }

.sendbutton {
  position: relative;
  bottom: 1px;
  left: 50vw;
  width: 20vw;
  height: 30vh; }

@keyframes poitto {
  0% { }
  100% {
    transform: translateY(-45vh) scale(0.1); } }

.currentGroupeList {
  flex-direction: row;
  width: 100vw;
  height: 100px; }

.Send {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.048) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, 0.048) 1px, transparent 0);
  background-size: 20px 20px; }

.currentGroupeList {
  width: 100vw;
  background-color: #ffffff;
  height: 80px;
  overflow: hidden; }
  .currentGroupeList .postIts {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 20px 5px 0px 5px;
    width: 50px;
    height: 50px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13); }
    .currentGroupeList .postIts .postIt {
      width: 50px;
      height: 50px; }

.memo {
  margin: 0 10px;
  margin-bottom: 20px;
  width: 30px; }

.view {
  top: 55px;
  position: absolute;
  color: #CCCCCC;
  font-size: 10px;
  margin-left: 10px; }

.pictIt {
  width: 100vw;
  z-index: 100; }

.pictIt canvas {
  width: 90vw;
  height: 90vw;
  margin: 5vw;
  margin-top: 15vh;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13);
  z-index: 1000; }

.changeColor {
  display: inline-block;
  position: absolute;
  bottom: 16vh;
  left: 7vw; }
  .changeColor button:nth-child(2) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #FFA5D2;
    margin-left: 10px; }
  .changeColor button:nth-child(3) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #FFD9A5; }
  .changeColor button:nth-child(4) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #FFF5A5; }
  .changeColor button:nth-child(5) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #C1FFA5; }
  .changeColor button:nth-child(6) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #A5FFF5; }
  .changeColor button:nth-child(7) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #A5D5FF; }
  .changeColor button:nth-child(8) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    background-color: #CFA5FF; }
  .changeColor button:nth-child(9) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0 3px; }

.delete {
  position: absolute;
  bottom: 8vh;
  left: 50vw;
  transform: translateX(-50%);
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  width: 50px;
  height: 50px;
  margin: 0 3px; }

#OpenMenu {
  position: absolute;
  top: 90px;
  left: 0;
  width: 8vw;
  height: 9vh;
  background-color: #2CB4AD; }

.yajirushi {
  left: 5px;
  position: absolute;
  top: 3.5vw;
  left: 1vw;
  width: 6vw;
  height: 5vh; }

#add {
  position: absolute;
  top: 21vh;
  right: 3vw;
  font-size: 2rem;
  width: 20vw;
  height: 8vh;
  color: #707070; }

.sendbutton {
  position: relative;
  bottom: 1px;
  left: 50vw;
  width: 20vw;
  height: 30vh; }

@keyframes poitto {
  0% { }
  100% {
    transform: translateY(-45vh) scale(0.1); } }

.postIts {
  display: flex;
  margin: 0; }

.postIt {
  width: 80px;
  height: 80px;
  margin: 0;
  z-index: 5;
  position: absolute; }

.overDiv {
  position: absolute;
  z-index: 10;
  width: 80px;
  height: 80px;
  background-color: black; }

.hidden {
  display: none; }

.show {
  display: block; }
