@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif; }

.main {
  display: flex; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif; }

.roomHeader {
  width: calc(100vw - 230px);
  height: 45px;
  border-bottom: 1px solid #E5E5E5;
  color: #C7C7C7;
  font-weight: 700;
  position: fixed;
  background-color: #ffffff; }

.room_main {
  display: flex; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-style: normal;
  font-weight: 600;
  overflow-y: hidden; }

.Top {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/topphoto.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -2; }

.Top::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #32B6AF, #FFFFFF);
  opacity: 0.9;
  z-index: -1; }

header {
  display: flex;
  width: 100vw;
  margin-top: 2vh;
  margin-left: 2vw;
  z-index: 1000;
  justify-content: space-between;
  flex-wrap: nowrap; }

header li {
  display: block;
  display: inline-block;
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 1.75rem;
  padding: 0.2rem 2rem;
  border-radius: 1.1rem; }

header .login {
  margin-right: 2vw;
  border: 1.5px solid white; }

header .submit {
  margin-right: 7vw;
  background-color: #FFD855; }

main {
  position: relative;
  width: 33.33333vw;
  margin: 0 auto;
  height: 50vh;
  transform: translateY(50%); }
  main img {
    width: 33.33333vw; }

h2, h3 {
  text-align: center;
  white-space: nowrap;
  color: white; }

h2 {
  margin-top: 1rem;
  font-size: 2rem; }

h3 {
  margin-top: 1.25rem;
  font-size: 1.25rem; }

.startPoitto {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 2rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1.1rem;
  background-color: #FFD855; }

footer li {
  width: 9rem;
  text-align: center;
  background-color: #2CB4AD;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 2vw;
  color: #FFFFFF;
  font-size: 0.7rem;
  padding: 0.7rem; }

footer .contact {
  background-color: #F03E3E;
  margin-left: 10vw; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif; }

.teamListContainer {
  width: 65px;
  height: 100vh;
  background-color: #2CB4AD; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif; }

.topicList {
  width: 230px;
  height: 100vh;
  background-color: #404040; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif; }

.groupeManagement {
  width: 100vw;
  height: calc(100vh - 45px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.048) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, 0.048) 1px, transparent 0);
  background-size: 20px 20px;
  margin-top: 45px;
  padding: 15px;
  overflow: scroll; }

.postItBoss {
  width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto; }

.postIts {
  display: flex;
  width: 100px;
  height: 100px; }

.postIt {
  width: 100px;
  height: 100px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13); }

.group {
  max-width: 740px;
  position: relative;
  background-color: transparent;
  border: 2px solid #2CB4AD;
  border-radius: 20px;
  text-align: center;
  color: #2CB4AD;
  margin: 10px; }

.group span {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5px; }

.send {
  display: flex;
  flex-direction: column; }

.currentGroupeList {
  flex-direction: row;
  width: 100vw;
  height: 100px; }

.send {
  display: flex;
  flex-direction: column; }

.postIts {
  display: flex;
  margin: 0; }

.postIt {
  width: 80px;
  height: 80px;
  margin: 0;
  z-index: 5;
  position: absolute; }

.overDiv {
  position: absolute;
  z-index: 10;
  width: 80px;
  height: 80px;
  background-color: black; }
