.postIts {
    display: flex;
    margin: 0;
}

.postIt {
    width: 80px;
    height: 80px;
    margin: 0;
    z-index: 5;
    position: absolute;
}

.overDiv {
    position: absolute;
    z-index: 10;
    width: 80px;
    height: 80px;
    background-color: black;
}