@import 'common.scss';

.roomHeader {
    width: calc(100vw - 295px);
    height: 45px;
    border-bottom: 1px solid $borderColor;
    color: $subColorGray;
    font-weight: 700;
    position: fixed;
    background-color: $subColorWhite;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .roomTitleContainer {
        width: 300px;
        border-right: 1px solid $borderColor;
        padding: 0 15px;
        display: flex;

        .topicHeaderIcon {
            width: 16px;
            height: 16px;
            margin-bottom: -2px;
            display: block;
        }
        .topicNameArea {
            padding: 0 5px;
            width: 250px;
        }
    }

    .roomHeaderMenu {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .topicHeaderIcon {
            width: 20px;
            height: 20px;
            margin-bottom: -2px;
            margin-right: 10px;
        }
        .shareButton {
            color: $subColorWhite;
            background-color: $mainColorGreen;
            border: none;
            border-radius: 50px;
            font-size: 0.9rem;
            display: block;
            padding: 4px 20px;
            margin: 0 5px;
        }
    }
}

.room_main {
    width: calc(100vw - 65px);
    display: flex;
}