@import './common.scss';

.roomHeader {
    width: calc(100vw - 295px);
    height: 45px;
    border-bottom: 1px solid $borderColor;
    color: $subColorGray;
    font-weight: 700;
}

.topicList {
}

.groupeManagement {
    width: 83%;
}

.room_main {
    display: flex;
    display: inline-flex;
}