@import 'common.scss';

.roomHeader {
    width: calc(100vw - 295px);
    height: 45px;
    border-bottom: 1px solid $borderColor;
    color: $subColorGray;
    font-weight: 700;
    position: fixed;
    background-color: $subColorWhite;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleContainer {
        width: 300px;
        border-right: 1px solid $borderColor;
        padding: 0 15px;
    }
}

.room_main {
    width: calc(100vw - 65px);
    display: flex;
}