.roomHeader {
    background-color: red
}

.topicList {
    background-color: red
}

.groupeManagement {
    background-color: red;
    width: 83%;
}

.room_main {
    display: flex;
    display: inline-flex;
}