@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  font-size: 16px;
  overflow: visible; }

body {
  color: #333333;
  font-size: 16px; }

button {
  border: none;
  outline: none; }

.roomHeader {
  width: calc(100vw - 300px);
  height: 45px;
  border-bottom: 1px solid #E5E5E5;
  color: #C7C7C7;
  font-weight: 700;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible; }
  .roomHeader .roomTitleContainer {
    width: 300px;
    border-right: 1px solid #E5E5E5;
    padding: 0 15px;
    display: flex; }
    .roomHeader .roomTitleContainer .topicHeaderIcon {
      width: 16px;
      height: 16px;
      margin-bottom: -2px;
      display: block; }
    .roomHeader .roomTitleContainer .topicNameArea {
      padding: 0 5px;
      width: 250px; }
  .roomHeader .roomHeaderMenu {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .roomHeader .roomHeaderMenu .topicHeaderIcon {
      width: 20px;
      height: 20px;
      margin-bottom: -2px;
      margin-right: 10px;
      cursor: pointer; }
    .roomHeader .roomHeaderMenu .groupIcon, .roomHeader .roomHeaderMenu .deleteIcon {
      position: relative; }
    .roomHeader .roomHeaderMenu .groupIcon .iconCaption {
      width: 100px;
      left: -40px; }
      .roomHeader .roomHeaderMenu .groupIcon .iconCaption::before {
        margin-left: 40px; }
    .roomHeader .roomHeaderMenu .deleteIcon .iconCaption {
      width: 50px;
      left: -15px; }
      .roomHeader .roomHeaderMenu .deleteIcon .iconCaption::before {
        margin-left: 15px; }
    .roomHeader .roomHeaderMenu .iconCaption {
      display: none;
      position: absolute;
      bottom: -40px;
      z-index: 5;
      background-color: #2CB4AD;
      border-radius: 3px;
      color: #ffffff;
      padding: 4px 8px;
      font-size: 14px;
      text-align: center; }
      .roomHeader .roomHeaderMenu .iconCaption::before {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: -19px;
        border: solid transparent;
        border-color: rgba(51, 204, 153, 0);
        border-bottom-color: #2CB4AD;
        border-width: 10px;
        pointer-events: none;
        content: " "; }
    .roomHeader .roomHeaderMenu .topicHeaderIcon:hover + .iconCaption {
      display: block; }
    .roomHeader .roomHeaderMenu .shareButton {
      color: #ffffff;
      background-color: #2CB4AD;
      border: none;
      border-radius: 50px;
      font-size: 0.9rem;
      display: block;
      padding: 4px 20px;
      margin: 0 5px; }

.room_main {
  width: calc(100vw - 65px);
  display: flex; }
