.Send {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.048) 1px, transparent 0),
        linear-gradient(90deg, rgba(0, 0, 0, 0.048) 1px, transparent 0);
    background-size: 20px 20px;
}

.currentGroupeList {
    width: 100vw;
    background-color: #ffffff;
    height: 80px;
    overflow: hidden;

    .postIts {
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin: 20px 5px 0px 5px;
        width: 50px;
        height: 50px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13);
        .postIt{
            width: 50px;
            height: 50px;
        }
    }
}

.memo {
    margin: 0 10px;
    margin-bottom: 20px;
    width: 30px;
}

.view {
    top: 55px;
    position: absolute;
    color: #CCCCCC;
    font-size: 10px;
    margin-left: 10px;
}

.pictIt {
    width: 100vw;
    z-index: 100;    

}

.pictIt canvas {
    width: 90vw;
    height: 90vw;
    margin: 5vw;
    margin-top: 15vh;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.13);
    z-index: 1000;
}


.changeColor {
    display: inline-block;
    position: absolute;
    bottom: 16vh;
    left: 7vw;

    button:nth-child(2) {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 3px;
        background-color: #FFA5D2;
        margin-left: 10px;
    }
    button:nth-child(3) {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 3px;
        background-color: #FFD9A5;
    }
    button:nth-child(4) {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 3px;
        background-color: #FFF5A5;
    }
    button:nth-child(5) {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 3px;
        background-color: #C1FFA5;
    }
    button:nth-child(6) {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 3px;
        background-color: #A5FFF5;
    }
    button:nth-child(7) {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 3px;
        background-color: #A5D5FF;
    }
    button:nth-child(8) {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 3px;
        background-color: #CFA5FF;
    }
    button:nth-child(9){
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 3px;
    }
}

.delete{
    position: absolute;
    bottom: 8vh;
    left: 50vw;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    width: 50px;
    height: 50px;
    margin: 0 3px;
}

#OpenMenu{
    position: absolute;
    top: 90px;
    left: 0;
    width: 8vw;
    height: 9vh;
    background-color: #2CB4AD;
}

.yajirushi{
    left: 5px;
    position: absolute;
    top: 3.5vw;
    left: 1vw;
    width: 6vw;
    height: 5vh;
}

#add{
    position: absolute;
    top:21vh;
    right: 3vw;
    font-size: 2rem;
    width: 20vw;
    height: 8vh;
    color: #707070;
}

.sendbutton{
    position: relative;
    bottom: 1px;
    left: 50vw;
    width: 20vw;
    height: 30vh
}

@keyframes poitto{
    0% {
    }
    100%{
        transform: translateY(-45vh) scale(0.1);
    }
}