@import 'common.scss';

.room_left_container {
    width: 230px;

    .topicList {
        width: 230px;
        height: 100vh;
        background-color: $subColorBlack;
        padding: 0 15px;

        .teamListTop {
            padding: 30px 0 20px;
            border-bottom: 1px solid $topicBorderColor;
            margin-bottom: 15px;

            .topicTeamIcon {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
            }
        }
        .topicListContainer {
            line-height: 200%;
            color: $subColorWhite;

            dt {
                display: flex;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &::before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    border: 2px solid;
                    border-color: #FAFAFA #FAFAFA transparent transparent;
                    transform: rotate(45deg);
                    display: block;
                    margin-top: 10px;
                    margin-right: 12px;
                }
            }

            ul {
                border-left: 1px solid $topicBorderColor;
                padding: 0 15px;
                margin-left: 5px;
                margin-bottom: 10px;

                li {
                    color: $topicBorderColor;
                }
            }
        }
    }
}

.room_right_container {
    width: calc(100% - 230px);
}